button{
  outline: none;
  &:hover{
    cursor: pointer;
    &.disabled{
      cursor: not-allowed;
    }
  }
}


.checkbox{
  margin: 10px 0px;
  display: block;
  input{
    margin: 0px 5px;
    float: left;
    vertical-align: middle;
  }
  span{
    vertical-align: middle;
  }
  &:hover{
		cursor: pointer;
	}
  .radio{
		visibility: hidden;
		position: relative;
		height: 20px;
		width: 20px;
    &.disabled{
      &::before{
        border: 1px solid rgba(0,0,0,0.1);
      }
      &::after{
        background: rgba(255,255,255,0.5);
      }
    }
		&::before{
			visibility: visible;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			border-radius: 100%;
      border: 1px solid rgba(0,0,0,0.35);
		}
		&::after{
			position: absolute;
			content: " ";
			top: 3px;
			left: 3px;
			visibility: hidden;
			height: 16px;
			width: 16px;
			border-radius: 100%;
      background: $emerald;
		}
		&:checked{
			&:before{
        border: 1px solid $emerald;
			}
			&:after{
				visibility: visible;
			}
		}
  }
  .check{
    visibility: hidden;
    display: block;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    padding: 10px;
    width: 25px;
    height: 25px;
    &.disabled{
      &::before{
        background: rgba(0,0,0,0.1);
      }
      &::after{
        background: rgba(255,255,255,0.5);
      }
    }
    &::before{
      visibility: visible;
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0,0,0,0.35);
      top: 0;
      left: 0;
    }
    &::after{
      visibility: hidden;
      content: " ";
      display: block;
      height: 19px;
      width: 30px;
      position: absolute;
      border: 5px solid #fff;
      top: -15px;
      left: -8px;
      transform: rotate(-45deg);
    }
    &:checked{
      &::before{
        background: $emerald;
      }
      &::after{
        visibility: visible;
      }
    }
  }
  .switch{
    visibility: hidden;
    display: block;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    // border: 1px solid rgba(0,0,0,0.15);
    padding: 10px;
    width: 45px;
    height: 25px;
    &.disabled{
      &::before{
        background: rgba(0,0,0,0.1);
      }
      &::after{
        background: rgba(255,255,255,0.5);
      }
    }
    &::before{
      transition: all 0.3s ease-in-out;
      visibility: visible;
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background: rgba(0,0,0,0.35);
      top: 0;
      left: 0;
    }
    &::after{
      transition: all 0.3s ease-in-out;
      visibility: visible;
      content: " ";
      display: block;
      height: 19px;
      width: 19px;
      border-radius: 100%;
      position: absolute;
      background: $white;
      top: 3px;
      left: 3px;
    }
    &:checked{
      &::before{
        background: $emerald;
      }
      &::after{
        left: 23px;
      }
    }
  }
}

.button{
  padding: 10px 30px;
  border: 0px;
  border-radius: 4px;
  position: relative;
  color: $white;
  margin: 5px 0px;
  overflow: hidden;
  &.fit{
    width: 100%;
  }
  &::after{
    content: " ";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.5);
  }
  &:active{
    &::after{
      background: rgba(0,0,0,0.5);
    }
  }
  &:hover{
    &::after{
      display: block;
    }
    &.disabled::after{
      display: none;
    }
  }
  &.normal{
    background: $peter-river;
  }
  &.success{
    background: $emerald;
  }
  &.warning{
    background: $sunflower;
    color: $wet-asphalt;
  }
  &.danger{
    background: $alizarin;
  }
  &.disabled{
    background: rgba(0,0,0,0.15);
  }
}
