.progress{
  margin: 10px 0px;
  .bar{
    height: 10px;
    width: 100%;
    background: $clouds;
    position: relative;
    border-radius: 10px;
    .value{
      border-radius: 10px;
      span{
        display: block;
        padding: 10px;
        border-radius: 3px;
        position: absolute;
        top: -55px;
        right: -18px;
        background: $clouds;
        &::after{
          content: " ";
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          top: 46px;
          left: 16px;
          border-top: 5px solid $clouds;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid transparent;
        }
        i{
          font-size: 24px;
          color: $wet-asphalt
        }
      }
      &.alizarin{
        background: $alizarin;
      }
      &.emerald{
        background: $emerald;
      }
      &.sunflower{
        background: $sunflower;
      }
      &.carrot{
        background: $carrot;
      }
      &.clouds{
        background: $clouds;
      }
      &.peterriver{
        background: $peter-river;
      }
      &.orange{
        background: $orange;
      }
      &.belize{
        background: $belize-hole;
      }
      content: " ";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }
}
